In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
gauge = pd.read_csv('/content/gdrive/My Drive/Iowa Data/Climate/GaugeData.txt',sep='\t',lineterminator='\r',header=None)

In [ ]:
gauge = gauge.iloc[:,[2,4,6]].copy()
gauge.rename({2:"Date",4:"Discharge",6:"StageHeight"},axis='columns',inplace=True)
gauge['Date'] = pd.to_datetime(gauge['Date']).dt.date
gauge["Date"] = pd.to_datetime(gauge["Date"])

In [ ]:
gauge = gauge.groupby("Date").max()
gauge.fillna(method='bfill',inplace=True)

In [ ]:
gauge

            Discharge  StageHeight
Date
2012-01-01      431.0         6.16
2012-01-04      431.0         6.13
2012-01-05      462.0         6.21
2012-01-06      482.0         6.26
2012-01-07      486.0         6.27
...               ...          ...
2020-04-27     2800.0         9.68
2020-04-28     2640.0         9.44
2020-04-29     2570.0         9.34
2020-04-30     2470.0         9.19
2020-05-01     2390.0         9.07

[2964 rows x 2 columns]

In [ ]:
station1 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319131.csv")
station2 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319162.csv")
station3 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319167.csv")
station4 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319175.csv")

In [ ]:
station1 = station1.iloc[:,[2,5,6,7]].copy()
station2 = station2.iloc[:,[2,5,6,7,8,9,10]].copy()
station3 = station3.iloc[:,[2,5,6,7]].copy()
station4 = station4.iloc[:,[2,3,4,5]].copy()

In [ ]:
stations = pd.concat((station1,station2,station3,station4), axis=0)
stations['DATE'] = pd.to_datetime(stations['DATE'])
stations.rename({'DATE':'Date'},axis='columns',inplace=True)
stations = stations.groupby("Date").mean()
stations = stations[:3044].copy()
stations.interpolate(method='time',inplace=True)

In [ ]:
data = stations.merge(gauge,how='left',on='Date')

In [ ]:
data

                PRCP  SNOW  SNWD  TMAX  TMIN  TOBS  Discharge  StageHeight
Date
2012-01-01  0.000000   0.0   0.0  50.0  29.0  31.0      431.0         6.16
2012-01-02  0.000000   0.0   0.0  34.0  19.0  19.0      431.0         6.15
2012-01-03  0.000000   0.0   0.0  26.0   4.0   5.0      431.0         6.14
2012-01-04  0.000000   0.0   0.0  34.0   5.0  28.0      431.0         6.13
2012-01-05  0.000000   0.0   0.0  45.0  20.0  22.0      462.0         6.21
...              ...   ...   ...   ...   ...   ...        ...          ...
2020-04-27  0.000000   0.0   0.0  71.0  49.0  57.0     2800.0         9.68
2020-04-28  0.000000   0.0   0.0  77.0  48.0  59.0     2640.0         9.44
2020-04-29  0.266667   0.0   0.0  72.0  46.0  47.0     2570.0         9.34
2020-04-30  0.000000   0.0   0.0  61.0  43.0  51.0     2470.0         9.19
2020-05-01  0.000000   0.0   0.0  61.0  43.0  51.0     2390.0         9.07

[3044 rows x 8 columns]

In [ ]:
data.interpolate(method='time',inplace=True)

In [ ]:
lcd1 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319193.csv",encoding='UTF-8')
lcd2 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319199.csv",encoding='UTF-8')
lcd3 = pd.read_csv("/content/gdrive/My Drive/Iowa Data/Climate/2319202.csv",encoding='UTF-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (30,31,42,43,49,51,59,69,71,88) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,19,25,26,27,28,29,35,36,42,43,49,56,58,59,60,61,62,63,95,112,113,114,117,119) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (41,42,43,51,56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
lcd1 = lcd1.iloc[:,[1,41,42,43,48,49,51,52,53,54,55,56]].copy()
lcd2 = lcd2.iloc[:,[1,41,42,43,48,49,51,52,53,54,55,56]].copy()
lcd3 = lcd3.iloc[:,[1,41,42,43,48,49,51,52,53,54,55,56]].copy()

In [ ]:
lcd1['DATE'] = pd.to_datetime(lcd1['DATE']).dt.date
lcd1["DATE"] = pd.to_datetime(lcd1['DATE'])
lcd2['DATE'] = pd.to_datetime(lcd2['DATE']).dt.date
lcd2["DATE"] = pd.to_datetime(lcd1['DATE'])
lcd3['DATE'] = pd.to_datetime(lcd3['DATE']).dt.date
lcd3["DATE"] = pd.to_datetime(lcd1['DATE'])

In [ ]:
lcd1.rename({'DATE':'Date','HourlyAltimeterSetting':'Altimeter','HourlyDewPointTemperature':'DPTemp','HourlyDryBulbTemperature':'Temperature','HourlyRelativeHumidity':'RelHumidity','HourlySeaLevelPressure':'SeaLevelPressure','HourlyStationPressure':'AtmPressure','HourlyVisibility':'Visibility','HourlyWetBulbTemperature':'WBTemp','HourlyWindDirection':'WindDir','HourlyWindGustSpeed':'GustSpeed','HourlyWindSpeed':'WindSpeed'},axis='columns',inplace=True)
lcd2.rename({'DATE':'Date','HourlyAltimeterSetting':'Altimeter','HourlyDewPointTemperature':'DPTemp','HourlyDryBulbTemperature':'Temperature','HourlyRelativeHumidity':'RelHumidity','HourlySeaLevelPressure':'SeaLevelPressure','HourlyStationPressure':'AtmPressure','HourlyVisibility':'Visibility','HourlyWetBulbTemperature':'WBTemp','HourlyWindDirection':'WindDir','HourlyWindGustSpeed':'GustSpeed','HourlyWindSpeed':'WindSpeed'},axis='columns',inplace=True)
lcd3.rename({'DATE':'Date','HourlyAltimeterSetting':'Altimeter','HourlyDewPointTemperature':'DPTemp','HourlyDryBulbTemperature':'Temperature','HourlyRelativeHumidity':'RelHumidity','HourlySeaLevelPressure':'SeaLevelPressure','HourlyStationPressure':'AtmPressure','HourlyVisibility':'Visibility','HourlyWetBulbTemperature':'WBTemp','HourlyWindDirection':'WindDir','HourlyWindGustSpeed':'GustSpeed','HourlyWindSpeed':'WindSpeed'},axis='columns',inplace=True)

In [ ]:
lcd1.iloc[:,1:] = lcd1.iloc[:,1:].apply(pd.to_numeric,errors='coerce')
lcd2.iloc[:,1:] = lcd2.iloc[:,1:].apply(pd.to_numeric,errors='coerce')
lcd3.iloc[:,1:] = lcd3.iloc[:,1:].apply(pd.to_numeric,errors='coerce')

In [ ]:
lcd1 = lcd1.groupby('Date').mean()
lcd2 = lcd2.groupby('Date').mean()
lcd3 = lcd3.groupby('Date').mean()

In [ ]:
lcd1 = lcd1[:3044].copy()
lcd2 = lcd2[:3044].copy()
lcd3 = lcd3[:3044].copy()

In [ ]:
lcd = pd.concat((lcd1,lcd2,lcd3),axis=0)
lcd = lcd.groupby(['Date']).mean()

In [ ]:
lcd.interpolate(method='time',inplace=True)

In [ ]:
lcd.isna().values.any()

False

In [ ]:
data = lcd.merge(data,how='left',on='Date')

In [ ]:
data.drop(columns=['GustSpeed','TMAX','TMIN','WBTemp','Altimeter','DPTemp'],inplace=True)

In [ ]:
data['Temperature'] = data[['Temperature','TOBS']].mean(axis=1)

In [ ]:
data.drop(columns=['TOBS','SeaLevelPressure'],inplace=True)

In [ ]:
data.rename({'PRCP':'Precipitation','SNOW':'Snowfall','SNWD':'SnowDepth'},axis='columns',inplace=True)

In [ ]:
data

            Temperature  RelHumidity  ...  Discharge  StageHeight
Date                                  ...
2012-01-01    31.377184    67.264113  ...      431.0         6.16
2012-01-02    21.597816    57.447293  ...      431.0         6.15
2012-01-03    13.325833    63.510556  ...      431.0         6.14
2012-01-04    28.436111    60.340556  ...      431.0         6.13
2012-01-05    27.694203    59.460000  ...      462.0         6.21
...                 ...          ...  ...        ...          ...
2020-04-27    51.229444    61.521111  ...     2800.0         9.68
2020-04-28    50.921569    77.941176  ...     2640.0         9.44
2020-04-29    44.999384    80.238506  ...     2570.0         9.34
2020-04-30    47.742778    73.592265  ...     2470.0         9.19
2020-05-01    48.411389    75.922222  ...     2390.0         9.07

[3044 rows x 11 columns]

In [ ]:
data.to_csv('/content/gdrive/My Drive/Iowa Data/Climate/IowaWeather2.csv')